/* ------------------------------------------------- */
// VARIABLES
/* ------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin-ext');

$font-1: 'Open Sans', sans-serif;

$c-accent-1: #F53060; 
$c-accent-2: #FF7B42; 
$c-accent-3: #5849D8;
$c-accent-4: #427BFF;
$c-accent-5: #313EF5; 
$c-accent-6: #F5316F;

$c-black: #000;
$c-white: #fff;
$c-light: $c-white;

$c-gray: #212529; 
$c-gray-light: #9597a6;
$c-gray-medium: #C7C7C7;

$c-border: #E5E5E5;